{% extends 'base.html.twig' %}

{% block title %}Корзина{% endblock %}



{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Ваша корзина</h1>

        {% if message is defined and message is not empty %}
            <div class="alert alert-success">{{ message }}</div>
        {% endif %}


        <table class="table table-striped">
            <thead>
            <tr>
                <th>Название</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>Вес</th>
                <th>Сумма</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cartProducts %}
                <tr>
                    <td>
                        {{ item.product_name }}
                    </td>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.product_price }} руб.</td>
                    <td>{{ item.product_weight }} кг</td>
                    <td>{{ item.amount * item.product_price }} руб.</td>
                    <td><button class="btn btn-danger">Удалить</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="row mt-4">
            <div class="col-md-8">
                <p>Общая сумма: {{ totalPrice }} руб.</p>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-lg btn-block">Оформить заказ</button>
            </div>
        </div>
    </div>

{% endblock %}
