{% extends 'base.html.twig' %}

{% block title %}Доставка{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div><a href="{{ path('app_cart') }}" class="">Назад в корзину</a></div>

        <h1>Выберите способ доставки</h1>
        <hr>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Название службы</th>
                <th>Стоимость</th>
                <th>Срок доставки</th>
                <th>Выбор</th>
            </tr>
            </thead>
            <tbody>
            {% for deliveryService in deliveryServices %}
                <tr>
                    <td>{{ deliveryService.name }}</td>
                    <td>{{ deliveryService.price }}</td>
                    <td>
                        {{ deliveryService.minDays }}
                        {% if deliveryService.maxDays > deliveryService.minDays %}
                            - {{ deliveryService.maxDays }}
                        {% endif %}
                        дней
                    </td>
                    <td>
                        <button class="btn btn-success">Выбрать</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
