{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Наши товары</h1>

        {% if message is defined and message is not empty %}
            <div class="alert alert-success">{{ message }}</div>
        {% endif %}

        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">Цена: {{ product.price }}</p>
                            {% if app.user %}
                                <form method="POST" action="{{ path('app_add_to_cart') }}">
                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                                </form>
                            {% else %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
